#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.

users:
  - name: root
    lock_passwd: false
    hashed_passwd: $6$3VwR.JdKFRHVEMdL$j1cXIFohXSAm9v2KLV7XZFo0fAA9yHLJRTWWzl2dovApgy9pDyVQ0L.qSDtQURXdf9dKLdsAImNA6X4A1LftH0

  - name: rmontagnana
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlFLfbzLt9XOgZqQfzS3mmyZHsoiGmh/JrcaQimneASxaIozZ2l3ayAtai3DjPbD3CBE4x16dYO2OfqIvZvh8KK2N1/i2Nan2frLDPDoiY1PlM++NZDozga4fROZ80rSloBhcRVZaMT/F0JSqselb3RgahtgVC2g50PsdYdoV7+SnNOI+yq4tSyIkv3l0pxAbb+c8uPyrc1JIQu5+4X88YQkvtRWXIwi+qOhHk2mgsu2LRQT8dzady75s4nPlQp/KWUYLUtxwdbrlaXI6yXtXy5bMXytiNu/TEkC1c6LHqSYdsZQ2/wf3GWNV/RLmCHxMrDBC66QZ+TMJnTqesdLYzymjfLVJZS1D7h+GDY26FZoWuaGk8TWV18z/p95oylurGwc2ktgLzenQ4jdfgxZlghUjKu8lz3CbwmObM7fwOfyILbGJHdKOL7iM5JrVeHizpHyKCOyraTJkdvOi0eZQmoKjGo85gBHX1d7cwpFGV8Um7XydkvTdQRH8IfEOAyIU= rmontagnana@kvmhost.local
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
